rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Student Profile isolation
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Saved Career Guidance isolation
      match /guidance/{guidanceId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
